In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.svm import LinearSVR, SVC, SVR
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor, plot_tree
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, VotingRegressor
import xgboost

In [2]:
df = pd.read_csv("./data/data.csv")
data = df.copy()

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31644 entries, 0 to 31643
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   31644 non-null  int64
 1   author               26620 non-null  object
 2   geometry             26144 non-null  object
 3   pressure [MPa]       27192 non-null  float64
 4   mass_flux [kg/m2-s]  26853 non-null  float64
 5   x_e_out [-]          21229 non-null  float64
 6   D_e [mm]             26156 non-null  float64
 7   D_h [mm]             27055 non-null  float64
 8   length [mm]          26885 non-null  float64
 9   chf_exp [MW/m2]      31644 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.4+ MB

In [9]:
data_clean = data.dropna()
data_clean.drop(columns="id", inplace=True)

c:\Users\gylmo\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [12]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6538 entries, 3 to 31635
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   author               6538 non-null   object
 1   geometry             6538 non-null   object
 2   pressure [MPa]       6538 non-null   float64
 3   mass_flux [kg/m2-s]  6538 non-null   float64
 4   x_e_out [-]          6538 non-null   float64
 5   D_e [mm]             6538 non-null   float64
 6   D_h [mm]             6538 non-null   float64
 7   length [mm]          6538 non-null   float64
 8   chf_exp [MW/m2]      6538 non-null   float64
dtypes: float64(7), object(2)
memory usage: 510.8+ KB

In [10]:
data_clean.describe()

,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
count,6538.000000,6538.000000,6538.000000,6538.000000,6538.000000,6538.00000,6538.000000
mean,10.678071,3061.074641,-0.000897,8.616779,14.006256,838.18446,3.807250
std,4.259407,1770.709688,0.102557,5.170097,19.345388,671.75760,1.935137
min,0.100000,0.000000,-0.866700,1.000000,1.000000,10.00000,0.800000
25%,6.890000,1505.000000,-0.047200,5.000000,5.600000,318.00000,2.400000
50%,11.070000,2730.000000,0.004300,7.800000,10.000000,610.00000,3.500000
75%,13.790000,4069.000000,0.066875,10.800000,11.500000,914.00000,4.700000
max,20.680000,7975.000000,0.220100,37.500000,120.000000,3048.00000,19.300000