In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("./data.csv")
df = df.copy()

In [5]:
df.drop(columns=["id", "author"], inplace=True)

In [9]:
df.shape

(31644, 8)

In [13]:
df.dropna(inplace=True)

In [25]:
df_unequal_diameter = df[df["D_e [mm]"]!=df["D_h [mm]"]]
df_unequal_diameter

,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
3,annulus,13.79,3679.0,-0.0279,5.6,15.2,2134.0,3.0
30,annulus,9.68,5615.0,0.0196,12.7,38.1,914.0,2.9
67,annulus,6.89,5588.0,-0.0157,6.4,15.9,914.0,5.8
108,plate,0.10,2000.0,-0.0093,15.0,120.0,10.0,7.0
125,annulus,6.92,555.0,0.1234,12.7,38.1,737.0,2.1
...,...,...,...,...,...,...,...,...
31554,annulus,13.79,2729.0,0.0863,5.6,15.2,2134.0,1.3
31580,annulus,6.89,1519.0,0.1671,8.5,22.3,2743.0,2.0
31584,annulus,6.91,2780.0,0.1200,12.7,38.1,737.0,1.8
31608,annulus,11.03,2729.0,0.0409,5.6,15.2,2134.0,4.2
31623,annulus,8.27,2731.0,0.1601,5.0,13.3,2134.0,1.3

In [23]:
df_unequal_diameter[df_unequal_diameter["geometry"]=="plate"]

,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
108,plate,0.10,2000.0,-0.0093,15.0,120.0,10.0,7.0
176,plate,0.20,2000.0,-0.0373,15.0,120.0,10.0,5.0
592,plate,0.20,1000.0,-0.0218,15.0,120.0,10.0,5.0
799,plate,0.10,5500.0,-0.0102,15.0,120.0,10.0,5.2
1115,plate,0.10,2078.0,-0.0373,15.0,120.0,10.0,6.2
...,...,...,...,...,...,...,...,...
30742,plate,1.01,2000.0,-0.1224,15.0,120.0,10.0,9.2
30823,plate,0.10,2000.0,-0.0665,15.0,120.0,10.0,4.2
30858,plate,0.20,1000.0,-0.1093,15.0,120.0,10.0,7.1
30870,plate,0.20,2000.0,-0.0345,15.0,120.0,10.0,4.0
31245,plate,1.01,2000.0,-0.0373,15.0,120.0,10.0,5.5

In [24]:
df_unequal_diameter[df_unequal_diameter["geometry"]=="tube"]

,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
375,tube,2.14,1500.0,-0.0466,15.0,120.0,10.0,4.3
809,tube,15.51,2710.0,0.1431,5.6,15.2,2134.0,1.1
1866,tube,0.51,1000.0,-0.0102,15.0,120.0,10.0,4.3
3170,tube,1.01,2000.0,-0.0407,15.0,120.0,10.0,3.9
5153,tube,13.79,1354.0,0.0749,5.6,15.2,2134.0,3.6
6024,tube,0.20,2000.0,-0.0373,15.0,120.0,10.0,5.4
8049,tube,13.79,1345.0,0.1274,5.6,15.2,2134.0,1.1
9311,tube,15.51,3716.0,0.0716,15.2,5.6,2134.0,2.7
9673,tube,13.79,3662.0,0.1219,15.0,5.6,2134.0,1.8
9911,tube,0.10,1500.0,-0.0187,15.0,120.0,10.0,5.3
10383,tube,13.79,1355.0,0.1622,5.6,15.2,2134.0,1.3
12388,tube,11.03,2693.0,-0.0233,5.0,13.3,2134.0,2.1
16167,tube,13.79,1345.0,0.1459,5.6,15.2,2134.0,1.6
16565,tube,0.10,2000.0,-0.0434,15.0,120.0,10.0,3.8
16662,tube,4.16,749.0,0.0406,12.7,42.3,1778.0,5.2
17683,tube,0.51,1000.0,-0.0407,15.0,120.0,660.0,4.0
20449,tube,11.03,693.0,0.1703,5.6,25.6,1836.0,1.2
22634,tube,11.03,3701.0,0.0908,5.6,15.2,2134.0,1.6
23447,tube,6.89,1519.0,0.0335,8.5,22.3,2743.0,2.6
23451,tube,6.92,385.0,0.0907,22.2,96.3,1778.0,3.6
23783,tube,0.10,1500.0,-0.0373,15.0,120.0,10.0,5.0
24721,tube,0.20,2000.0,-0.0438,15.0,120.0,10.0,4.1
25039,tube,0.10,1500.0,-0.0034,15.0,120.0,10.0,10.0
25222,tube,13.79,2061.0,0.1936,5.6,15.2,2134.0,2.4
25841,tube,13.79,1356.0,-0.0394,5.6,15.2,2134.0,2.5
26590,tube,11.03,2740.0,0.1162,5.6,15.2,2134.0,1.8
27148,tube,13.79,2699.0,0.0446,5.0,13.3,2134.0,2.9
28664,tube,0.51,1500.0,-0.0218,15.0,120.0,10.0,7.7
29828,tube,6.89,5588.0,0.0032,6.4,15.9,914.0,3.5
29996,tube,13.79,1360.0,0.1274,5.6,15.2,2134.0,1.5
30802,tube,15.51,3670.0,0.0800,5.6,15.2,2134.0,1.8
30843,tube,15.17,1000.0,0.0254,5.6,15.2,2134.0,2.5

In [26]:
df_unequal_diameter[df_unequal_diameter["geometry"]=="annulus"]

,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
3,annulus,13.79,3679.0,-0.0279,5.6,15.2,2134.0,3.0
30,annulus,9.68,5615.0,0.0196,12.7,38.1,914.0,2.9
67,annulus,6.89,5588.0,-0.0157,6.4,15.9,914.0,5.8
125,annulus,6.92,555.0,0.1234,12.7,38.1,737.0,2.1
141,annulus,6.89,549.0,0.0497,12.7,38.1,737.0,2.5
...,...,...,...,...,...,...,...,...
31554,annulus,13.79,2729.0,0.0863,5.6,15.2,2134.0,1.3
31580,annulus,6.89,1519.0,0.1671,8.5,22.3,2743.0,2.0
31584,annulus,6.91,2780.0,0.1200,12.7,38.1,737.0,1.8
31608,annulus,11.03,2729.0,0.0409,5.6,15.2,2134.0,4.2
31623,annulus,8.27,2731.0,0.1601,5.0,13.3,2134.0,1.3

In [35]:
df_equal_diameter = df[df["D_e [mm]"]==df["D_h [mm]"]]
df_equal_diameter[df_equal_diameter["geometry"]=="tube"]

,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
9,tube,12.00,1617.0,0.1228,10.0,10.0,520.0,2.2
15,tube,12.07,3255.0,0.0406,1.9,1.9,152.0,2.9
17,tube,10.41,2563.0,0.1092,4.6,4.6,229.0,6.8
28,tube,13.79,2061.0,-0.0276,7.8,7.8,591.0,2.1
31,tube,12.00,1408.0,0.1103,10.0,10.0,1650.0,1.4
...,...,...,...,...,...,...,...,...
31624,tube,13.79,963.0,0.1693,7.7,7.7,457.0,1.5
31626,tube,15.51,2984.0,0.0253,1.9,1.9,696.0,2.5
31627,tube,0.64,3282.0,-0.1224,3.0,3.0,100.0,7.1
31635,tube,17.24,2984.0,-0.0417,1.9,1.9,152.0,3.9
31643,tube,6.89,7568.0,0.0603,12.8,12.8,1930.0,3.3